* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/experiments/006_ratRace0/assets/web_bg_3.png);
}

li.game {
  position: absolute;
  width: 1280px;
  height: 102px;
  left: calc(50% - 1280px / 2);
  top: 250px;

  font-family: Roboto;
  font-weight: 900;
  font-size: 100px;
  line-height: 117px;
  text-align: center;

  color: #ffff00;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

li.processfolio {
  position: absolute;
  width: 1280px;
  height: 102px;
  left: calc(50% - 1280px / 2);
  top: 500px;

  font-family: Roboto;
  font-weight: 900;
  font-size: 100px;
  line-height: 117px;
  text-align: center;

  color: #f46b17;
}

li.game a:hover {
  text-decoration: none;
  font-style: italic;
  color: #ffff00;
}
li.processfolio a:hover {
  text-decoration: none;
  font-style: italic;
  color: #f46b17;
}

div.footer {
  position: absolute;
  width: 169px;
  height: 23px;
  left: 556px;
  top: 682px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #41b1f6;
}

canvas {
  display: flex;
}

/* Previous code */
/* .linksTo {
    position: relative;
}

.centeredLinks {
    position: absolute;
    top: 50%;
    left: 50%;

    
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    color:black;
}


a{
    
}
li a:hover {
    text-decoration: none;
    font-style: italic;
    color: #ffff00;
  } */
