*{
    padding:0;
    margin:0;
    background-image:url(/experiments/006_ratRace0/assets/web_bg_3.png);;
}

body{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;  
}

.linksTo {
    position: relative;
    /* vertical-align: middle; */
}

.centeredLinks {
    position: absolute;
    top: 50%;
    left: 50%;

    
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    color:black;
}


a{
    text-decoration: none;
}
li a:hover {
    text-decoration: none;
    font-style: italic;
    color: #ffff00;
  }