* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  display: block;
  display: flex;

  background-image: url(/branch/rat-race-game/assets/web_bg_3.png);
}

ul {
  list-style-type: none;
  justify-content: center;
  align-self: center;
}
li.game {
  position: absolute;
  width: 1280px;
  height: 102px;
  left: calc(50% - 1280px / 2);
  top: calc(50% - 102px / 2 - 102px);
  /* display: flex;
  justify-content: center;
  align-self: center; */

  font-family: Roboto;
  font-weight: 900;
  font-size: 100px;
  line-height: 117px;
  text-align: center;

  color: #ffff00;
}

a {
  text-decoration: none;
}

li.processfolio {
  position: absolute;
  width: 1280px;
  height: 102px;
  left: calc(50% - 1280px / 2);
  top: calc(50% - 102px / 2 + 102px);

  font-family: Roboto;
  font-weight: 900;
  font-size: 100px;
  line-height: 117px;
  text-align: center;

  color: #f46b17;
}

li.game a:hover {
  text-decoration: underline;
  color: #ffff00;
}
li.processfolio a:hover {
  text-decoration: underline;
  color: #f46b17;
}

canvas {
  display: flex;
}

/* Previous code */
/* .linksTo {
    position: relative;
}

.centeredLinks {
    position: absolute;
    top: 50%;
    left: 50%;

    
}

ul {
    list-style-type: none;
}

li {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 75px;
    color:black;
}


a{
    
}
li a:hover {
    text-decoration: none;
    font-style: italic;
    color: #ffff00;
  } */
